body{
    margin: 0;
    background-color: brown;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

#submit{
    display: block;
}

form div{
    display: flex;
}

#pfp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 300px;
    overflow: hidden;
    margin: 30px;
}

aside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    width: auto;
}

h4{
    margin: 0;
    color: gray;
    margin-bottom: 50px;
}

h2, .inp{
    margin: 10px;
}

input{
    text-transform: capitalize;
}

#email{
    text-transform: none;
}

#submit{
    background-color: brown;
    color: aliceblue;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid aliceblue;
    margin-top: 30px;
}

#submit:hover{
    background-color: rgb(119, 28, 28);
    transform: scale(1.01);
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
}

form p{
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.radio:checked{
    accent-color: brown;
}

main{
    margin: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    }

@media(min-width: 1000px){
    main{
        flex-direction: row;
    }
}

@media(max-width: 999px){
    main{
        flex-direction: column;
    }
}

.absolute{
    top: 0;
    text-transform: uppercase;
    background-color: aliceblue;
    font-size: 20px;
    position: absolute;
    padding: 20px;
    font-weight: bold;
    display: block;
    z-index: 1;
}

.sticky{
    top: 0;
    position: sticky;
    background-color: lightblue;
    display: block;
    text-align: center;
    padding: 20px;
    z-index: 0;
    margin: 0;
}

.absolute::after{
    content: "👉 ";
}

.absolute::before{
    content: "👉 ";
}

footer{
    display: flex;

}

.articol{
    flex: 1;
    padding: 20px;
    background: aliceblue;
}

.move{
    order: -1;
    align-self: flex-end;
}

h2 + h4 {
    color: darkred;
    font-style: italic;
}

h4 ~ p {
    background-color: lightblue;
    padding: 5px;
    border-left: 3px solid darkred;
}